# Dependencies
node_modules/

# Environment variables
.env

# PocketBase data (conserver les migrations et la structure, mais pas les comptes)
pb_data/auth/
pb_data/*.json
pb_data/logs/
pb_data.db-shm
pb_data.db-wal

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Docker files
Makefile
Dockerfile
docker-compose.yml
